@{
    var crumbs = ViewData["Breadcrumbs"] as IReadOnlyList<(string Text, string? Url)>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FyreApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/bootstrap.custom.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FyreApp.styles.css" asp-append-version="true" />

    <link rel="icon" type="image/x-icon" href="~/logo.png" />
    <link rel="icon" type="image/png" href="~/logo.png" />

</head>
<body>
    <header class="bg-white">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
                <div class="container-fluid">

                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FyreApp</a>
                    

                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FyreApp</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav flex-grow-1">
                                                    
                            @if (User.Identity?.IsAuthenticated ?? false)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                                </li>

                                <hr />

                                <partial name="_LogoutButton" />
                            }
                            else
                            {
                                <a class="btn btn-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            }

                            </ul>
                        </div>
                    
                    </div>
                </div>
            </nav>
        </div>

        @if (!(ViewData["HideBreadcrumb"] as bool? ?? false))
        {
        <div class="container-fluid">
            @await Html.PartialAsync("_Breadcrumbs", crumbs ?? Array.Empty<(string, string?)>())
        </div>
        }


    </header>
    <div class="bg-light py-3">
        <div class="d-flex">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div class="d-none d-lg-block">
                    <partial name="~/Views/Components/_Sidebar.cshtml" />
                </div>
            }
            <main role="main" class="pb-3 flex-grow-1 w-100">
                <div class="container d-flex flex-column gap-3">
                    @RenderBody()
                </div>
                @* <small>
                    ENV: @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
                </small> *@

            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - FyreApp -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
