@model FyreApp.ViewModels.Clients.ClientIndexVm

@{
    ViewData["Title"] = "Clients";
}

<h1 class="m-0">Clients</h1>

@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#createClientModal">
            <i class="bi bi-plus-lg"></i> Create client
        </button>

        <a class="btn btn-primary"
            asp-controller="Clients"
            asp-action="Import"
            >
            <i class="bi bi-collection"></i> Bulk import
        </a>
    </div>
}



@if (TempData["Success"] is string successMsg)
{
    <div class="alert alert-success">@successMsg</div>
}

<div class="card">
    <div class="card-body">
        <div id="client-search-root"></div>
    </div>
</div>


@if (User.IsInRole("Admin"))
{
    @await Html.PartialAsync("_CreateClientModal", Model.Create)
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    @if (Model.OpenCreateModal)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var modalEl = document.getElementById("createClientModal");
                var modal = new bootstrap.Modal(modalEl);
                modal.show();
            });
        </script>
    }

    <script>
        const modalEl = document.getElementById("createClientModal");
        @* if (!modalEl) return; *@

        if(modalEl)
        {

            modalEl.addEventListener("shown.bs.modal", function () {

                const input = document.getElementById("createClientName");
                if (!input) return;

                input.focus();
                input.select();
            });

        }
    </script>

    <script type="module" src="~/js/react/assets/clientSearch-DBjEuYsV.js"></script>
}
